.team__expert-name {
  inline-size: 300px;
  margin: 0;
  margin-block-end: 5px;
  overflow: hidden;
  color: #000;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}
