.testimonials__swiper-slide-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 60px 64px 116px;
  box-shadow: 0 0 18px 0 rgb(0 0 0 / 10%);
}

.testimonials__swiper-slide-review::before {
  content: "";
  display: block;
  inline-size: 80px;
  block-size: 80px;
  background-image: url("../../../../icons/quotation.svg");
}
